[submodule "src/csrc/kernel/xformers"]
	path = src/csrc/kernel/xformers
	url = https://github.com/facebookresearch/xformers.git
[submodule "third-party/googletest"]
	path = third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/argparse"]
	path = third-party/argparse
	url = https://github.com/p-ranav/argparse.git
